.custom-style{
    width: 50%;
    background-color:  rgb(56, 56, 62);
    border-radius: 6px;
}

.adjustWith{
    width: 90%;
}



.custom-btn  a{

    color: white;
    text-decoration:  none;
}


@media only screen and (max-width: 764px) {
         .custom-style{
            width: 100%;
         }
  }
